{{#unless inline}}
  <input
    type="text"
    class="form-control {{if isMobile "bs-disable"}}"
    disabled={{disabled}}
    placeholder={{placeholder}}
    readonly={{isMobile}}
    onfocus={{action "focus"}}
  >
  {{#if showIcon}}
    <span class="input-group-addon">
      <i class={{iconClasses}}></i>
    </span>
  {{/if}}
{{/unless}}
